
<h3 style="@ElementStyle ; @H1Boder">-Cascading Child Componet - @Counter
    @*: Emp Age = @EmpAge*@
</h3>

<CascadingGrandChild></CascadingGrandChild>

@code {
     /*
     * Foe this propery, to receive the value from the parent component, we decorate it with [CascadingParameter] Attribute.
    */
    [CascadingParameter(Name = "ColorStyle")]
    public string ElementStyle { get; set; }

    [CascadingParameter(Name = "BorderStyle")]
    public string H1Boder { get; set; }

    
    [CascadingParameter(Name = "Counter")]
    public int Counter { get; set; }

    //public int EmpAge { get; set; }
}
